@{
  Layout = "_Layout";
}

@using HFSclient.ViewModels
@model LoginViewModel

<div class="splash">
  <img src="/img/HFSlogo.jpg" alt="HFS Logo">
  <p>Welcome to Historical Fantasy Sports</p>
</div>  
<hr />
<p>Fantasy Simulator is a math-based game of real-life Player Production. You will start by picking a League you would like to be an Owner in, Friends Family, Co-Works, or Strangers. As an Owner you will then take part in a Draft to make up your team. A Draft in HFS consists of all the players that scored points in our Historical database. After choosing your players the League Commissioner will start the game. You will be Matched up against other Owners in your League to see who will end up as the champion. With HFS we randomize the players Season that is chosen for each week so the game stays unpredictable, just like real Fantasy Simulators. After a League determined number of Games in the season the top Owners will get to participate in Championships. </p>
<p>We, here at HFS hope you all have fun and good luck.</p>

