<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fantasy Football!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    @await Html.PartialAsync("_Header")
    <div class="container">
    
      <div id="render">
        @RenderBody()
      </div>
    
    </div>
    @await Html.PartialAsync("_Footer")
  </body>
</html>
