@{
  Layout = "_Layout";
}
@model HFSclient.Models.League;
<h1>League details</h1>
<br>

<h5><strong>@Html.DisplayName("Name"):</strong> @Html.DisplayFor(model => model.LeagueName)</h5>
<br>

<h5>Players in this League:</h5>


@* League
Current Players
User clicks on themselves -> Roster
History
Button View Standings *@