/* _Header */
#header {
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #dddddd;
}
#header-image {
  width: 150px;
  float: left;
  margin: 2%;
}
#header-plack {
  margin: 2%;
  float: right;
}

/* _Layout */
#render {
  font-size: 20px;
  margin-top: 200px;
}

/* _Footer */
#footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: rgb(49, 49, 49);
  padding: 8px;
}

/* Home Index */
.splash {
  text-align: center;
}

/* Nav Box */
.box {
  background-color:rgb(204, 207, 212);
  height: 200px;
  width: 80%;
  text-align: left;
  overflow-y: scroll;
  margin-top: 2% 0 2% 5%;
  border-radius: 10px;
}
.inner-box {
  margin: 2% 5% 2% 5%;
}